extends ../layout

block content
  .container
    .about
      .about__img
        img(src="../../img/me.jpg", alt="Anatoliy Skichko")
      .about__info
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis accusantium illo ratione aspernatur consectetur, veritatis sit fuga earum tenetur, dicta quasi assumenda nobis eaque a magni maxime, hic necessitatibus beatae.