.container
  header
    nav.nav
      li
        a(href="#", title="About").nav__link About me
      li
        a(href="#", title="Skills").nav__link Skills &amp; Education
      li
        a(href="#", title="Portfolio").nav__link Portfolio
      li
        a(href="#", title="Contacts").nav__link Contacts
